.home-wrapper{

    min-height:100vh;

    background:#f4f6f9;

}

.ford-navbar{

    background:#003478;

    box-shadow:0 3px 15px rgba(0,0,0,.2);

}

.nav-link{

    color:white!important;

    font-weight:600;

}

.card{

    border:none;

    border-radius:18px;

}

.card-shadow{

    box-shadow:0 15px 40px rgba(0,0,0,.15);

}

.ford-primary{

    background:#003478;

    color:white;

    border:none;

}

.ford-primary:hover{

    background:#00234d;

    color:white;

}

img{

    transition:.4s;

}